<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dk.sdc.PuzzleMystery"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="DragADotActivity"></activity>
        <activity android:name=".FreeThePrincessActivity"/>
        <activity android:name=".LevelSelectActivity"/>
        <activity android:name=".DragADot2Activity"/>
        <activity android:name=".FindTheCroneForThePrincess"/>
    </application>
</manifest>